html, body {
    height: 100%;
}

body {
  background: #262626;
}

header {
  height: 150px;
  text-align: center;
  line-height: 50px;
  padding: 10px, 50px, 10px, 50px;
  margin: 20px, 10px, 20px, 10px;

}
#containter {
  padding: 10px, 50px, 10px, 50px;
  margin: 20px, 20px, 20px, 20px;

}

h1 {
  color: #ddd;
  font-weight: bold;
  font-size: 5.1em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}

hr {
  color: #ddd;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  padding: 10px, 20px, 10px, 20px;
}

.person {
  color: black;
  border: 2px solid #225378;
  font-family: Georgia, Constantia, "Times New Roman", Times, serif;
  position: relative;
  display: inline-block;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  background: radial-gradient(circle, #ACF0F2, #1595A3);
  height: 60px!important;
}

div.content {
/text-align: center;
  font-family: "Playfair Display", serif;
  overflow: visible;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  color:#ddd;


}



div.content {
  display: none;
}





/*.content{
position:absolute;
width:1000px;
height:450px;
background:red;
overflow: hidden;
z-index:10000;
}
.hidden{
visibility: hidden;
}*/

/*.person {
    width:80px;
    height:20px;
    background-color:green;
    margin-bottom:15px;
}
.person:hover + .content {
    opacity: 1.0;
}


*/



footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  color: #ddd;
  font-family: "Playfair Display", serif;
  padding: 10px, 50px, 10px, 50px;
  margin: 20px, 20px, 20px, 20px;

}


/*TO DO Modal Window*/
/*
.content {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.content:target {
  opacity: 1;
  pointer-events: auto;
}

.content > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
*/